#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import numpy as np
import pandas as pd
import io
from google.colab import files

In [0]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df

Saving matches.csv to matches.csv

        id  season  ...         umpire2                  umpire3
0        1    2017  ...        NJ Llong                      NaN
1        2    2017  ...          S Ravi                      NaN
2        3    2017  ...       CK Nandan                      NaN
3        4    2017  ...   C Shamshuddin                      NaN
4        5    2017  ...             NaN                      NaN
..     ...     ...  ...             ...                      ...
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [0]:
uploaded = files.upload()
df1 = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df1

Saving deliveries.csv to deliveries (1).csv

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [0]:
mask1=df1['dismissal_kind']=='caught'
mask2=df1['dismissal_kind']=='bowled'  
mask3=df1['dismissal_kind']=='lbw'
mask4=df1['dismissal_kind']=='stumped'
mask5=df1['dismissal_kind']=='caught and bowled'
mask6=df1['dismissal_kind']=='hit wicket'
wicket=df1[mask1|mask2|mask3|mask4|mask5|mask6]
a=wicket.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head(10)
new=a.reset_index()
new1=new['bowler'].reset_index()
new2=new1.merge(wicket)
new2.pivot_table(index='bowler',columns='over',values='player_dismissed',aggfunc='count')

over               1     2     3     4    5   ...    16    17    18    19    20
bowler                                        ...
A Mishra          1.0   NaN   NaN   4.0  1.0  ...  14.0   7.0   6.0   5.0   6.0
B Kumar          17.0   7.0  12.0   3.0  4.0  ...  12.0   8.0  16.0  19.0  23.0
DJ Bravo          NaN   1.0   2.0   2.0  1.0  ...  13.0   9.0  29.0  10.0  29.0
Harbhajan Singh   5.0   5.0   1.0   7.0  4.0  ...   7.0   8.0   6.0   4.0   1.0
PP Chawla         NaN   2.0   1.0   1.0  2.0  ...  11.0  11.0   6.0   2.0   7.0
R Ashwin          7.0   1.0   5.0   5.0  9.0  ...  15.0   4.0   7.0   1.0   1.0
RA Jadeja         NaN   NaN   NaN   NaN  2.0  ...   3.0  11.0   5.0   4.0   3.0
SL Malinga       11.0  11.0   2.0   3.0  5.0  ...  18.0  14.0  25.0  32.0  19.0
SP Narine         NaN   2.0   2.0   3.0  9.0  ...   9.0  12.0  13.0  12.0  11.0
UT Yadav          6.0   8.0   7.0  13.0  5.0  ...   7.0   8.0  11.0  11.0  12.0

[10 rows x 20 columns]

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]

def details(name):
    mask1=df1['batsman']==name
    mask2=df1['bowler']==name
    mask3=df1['non_striker']==name
    mask4=df1['fielder']==name
    m=df1[mask1 | mask2 | mask3 | mask4]
    q=m[m['batsman']==name]
    s=df.groupby('player_of_match')
    l=s.get_group(name)
    mask4=m['batsman_runs']==4
    mask5=m['batsman_runs']==6
    m1=m[(mask4 | mask5)& mask1]
    inning=q.drop_duplicates(subset=['match_id']).count()['inning']
    print(name)
    print("Innings:",inning)
    print("Total runs:",q['batsman_runs'].sum())
    print("Man of the match:",l['id'].count())
    print("Boundaries:",m1['batsman_runs'].count())

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
details('V Kohli')

V Kohli
Innings: 169
Total runs: 5434
Man of the match: 12
Boundaries: 673

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
new= df.merge(df1,left_on='id',right_on='match_id')
def ven(v):
    a=new[new['venue']==v]
    return a.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(4)

In [0]:
ven('Rajiv Gandhi International Stadium, Uppal')

batsman
S Dhawan         1385
DA Warner        1169
KS Williamson     470
RG Sharma         440
Name: batsman_runs, dtype: int64

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
m2=df[df['city']=='Mumbai']
m2.groupby('season')['id'].count()

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
2018     9
2019     7
Name: id, dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [0]:
m=df1[df1['dismissal_kind']=='caught']
m.groupby('fielder')['match_id'].count().sort_values(ascending=False).head(3)

fielder
KD Karthik    109
SK Raina       99
MS Dhoni       98
Name: match_id, dtype: int64